services:
    _defaults:
        autowire: true
        autoconfigure: true

    OHMedia\WysiwygBundle\:
        resource: '../src/'
        exclude:
            - '../src/Entity/'
            - '../src/OHMediaWysiwygBundle.php'
