<script>
document.addEventListener('DOMContentLoaded', function() {
  const shortcodes = document.querySelectorAll('code[data-shortcode]');

  shortcodes.forEach((el) => {
    const shortcode = el.dataset.shortcode;

    const params = new URLSearchParams();
    params.append('shortcode', shortcode);

    fetch(`{{ path('shortcode_links') }}?${params}`)
      .then(r => r.json())
      .then(r => {
        let links = '';

        r.links.forEach((link) => {
          links += `<a class="d-inline-block" href="${link.href}" target="_blank">
            ${link.text}
            <i class="bi bi-box-arrow-up-right"></i>
          </a>`
        });

        const popover = new window.Bootstrap.Popover(el, {
          title: 'Shortcode Locations',
          content: links ? links : 'Not in use.',
          html: true,
          placement: 'top',
        });

        el.style.cursor = 'pointer';
      });
  });
});
</script>
