<script>
document.addEventListener('DOMContentLoaded', function() {
  const shortcodes = document.querySelectorAll('code[data-shortcode]');

  let currentPopover = null;

  document.addEventListener('click', function(e) {
    if (currentPopover) {
      currentPopover.hide();
    }
  });

  shortcodes.forEach((el) => {
    const params = new URLSearchParams();
    params.append('shortcode', el.dataset.shortcode);

    fetch(`{{ path('shortcode_links') }}?${params}`)
      .then(r => r.json())
      .then(r => {
        if (!r.links.length) {
          return;
        }

        const popoverLink = document.createElement('a');
        popoverLink.href = 'javascript:;';
        popoverLink.className = 'd-inline-block';

        const popoverInner = document.createElement('small');
        popoverInner.textContent = 'See placements';

        popoverLink.append(popoverInner);

        let links = '';

        r.links.forEach((link) => {
          links += `<a class="d-inline-block" href="${link.href}" target="_blank">
            ${link.text}
            <i class="bi bi-box-arrow-up-right"></i>
          </a>`
        });

        const popover = new window.Bootstrap.Popover(popoverLink, {
          content: links,
          html: true,
          placement: 'top',
          container: el.parentNode,
          template: '<div class="popover ohmedia-wysiwyg-popover" role="tooltip"><div class="popover-arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>',
        });

        popoverLink.addEventListener('inserted.bs.popover', function() {
          document.querySelector('.ohmedia-wysiwyg-popover')
            .addEventListener('click', function(e) {
              e.stopPropagation();
            });
        });

        popoverLink.addEventListener('show.bs.popover', function() {
          if (currentPopover && popover !== currentPopover) {
            currentPopover.hide();
          }

          currentPopover = popover;
        });

        popoverLink.addEventListener('hide.bs.popover', function() {
          if (currentPopover && popover !== currentPopover) {
            currentPopover = null;
          }
        });

        el.after(popoverLink);

        const br = document.createElement('br');
        el.after(br);
      });
  });
});
</script>
